# IDEs and editors
.idea/
.vscode/

# Dependencies
/node_modules/

# Build output
/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Test and coverage output
/coverage/
/reports/
.nyc_output/